[Unit]
Description=resize ext4 file system
After=local-fs.target
Wants=local-fs.target

[Service]
ExecStart=/bin/bash -c "/usr/sbin/init_resize || exit 0"
Type=oneshot

[Install]
WantedBy=multi-user.target