CONFIG_HAVE_DOT_CONFIG=y

#
# General Configuration
#
# CONFIG_CURL is not set
# CONFIG_CURL_SSL is not set
# CONFIG_SYSTEMD is not set
CONFIG_DEFAULT_CONFIG_FILE="/etc/swupdate.cfg"
CONFIG_SCRIPTS=y
CONFIG_SW_VERSIONS_FILE="/etc/sw-versions"

CONFIG_SOCKET_CTRL_PATH="/tmp/sockinstctrl"
CONFIG_SOCKET_PROGRESS_PATH="/tmp/swupdateprog"
CONFIG_SOCKET_REMOTE_HANDLER_DIRECTORY="/tmp/"

CONFIG_CROSS_COMPILE=""
CONFIG_SYSROOT=""
CONFIG_EXTRA_CFLAGS=""
CONFIG_EXTRA_LDFLAGS=""
CONFIG_EXTRA_LDLIBS=""

CONFIG_BOOTLOADER_NONE=y

CONFIG_SSL_IMPL_NONE=y

CONFIG_DOWNLOAD=y
CONFIG_WEBSERVER=y
CONFIG_MONGOOSE=y
CONFIG_MONGOOSEIPV6=y

CONFIG_LIBCONFIG=y
CONFIG_PARSERROOT=""

CONFIG_RAW=y
CONFIG_SHELLSCRIPTHANDLER=y
